/* 
Red
#FC4445
Aqua
#3FEEE6
Dark Aqua? Idk
#55BCC9
Grayish Blue
#97CAEF
Light Blue
#CAFAFE 
#8860D0
rgba(131,58,180,1)
*/

* {
    margin: 0;
    font-family: Varela;
}

body {
    background-color: #55BCC9;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FC4445;
    color: white;
}

h1 {
    text-align: center;
    padding: 7px;
}

#timer {
    padding-top: 50px;
}

#timer-time {
    text-align: center;
    font-size: 5rem;
}

#buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    border: 5px solid #FC4445;
    color: white;
    background-color: #FC4445;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 48px;
    border-radius: 25px;
    width: 10%;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.button:hover {
    background-color: white;
    color: #FC4445;
}

.save-button {
    width: 50%;
}

#input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    border: none;
    background-color: white;
    height: 47px;
    width: 25%;
    padding-top: 1px;
    box-shadow: 10px 10px #FC4445;
    margin-top: 20px;
    color: black;
    padding-left: 10px;
    font-size: 25px;
}

#tasks-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.task-card {
    background-color: #8860D0;
    color: white;
    width: 15%;
    border-radius: 25px;
    text-align: center;
    padding: 10px;
    margin: 20px;
}

h2 {
    font-weight: normal;
}